@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');


body {
  font-family: 'Poppins', sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: hsl(194,79%,35%);
  color: white;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.card {
  background-color: whitesmoke;
  padding: 1rem;
  border: 1px solid #777;
  margin: 10px;
  border-radius: .25rem;
  position: relative;
}

.card-header {
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
  font-weight: bold;
}

.card-item {
  margin-bottom: 0.75em;
}

.card-footer {
  margin-top: 1.25rem;
}

.btn {
  color: white;
  background-color: hsl(197,95%,47%);
  border: none;
  font-size: 1.4rem;
  border-radius: .25em;
  cursor: pointer;
  padding: 0.3em 0.5em;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.btn:hover, .btn:focus {
  background: hsl(197,95%,20%);
}

/* css for register.js */

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  padding: 1rem 0.5rem;
}

section {
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background-color: rgba(0,0,0,0.4);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

a, a:visited {
    color: #fff;
}

input[type="text"],
input[type="password"],
input[type="email"],
select,
button,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

label,
button {
  margin-top: 1rem;
}

button {
  padding: 0.5rem;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}
